@{
    ViewData["Title"] = "About";
}

<hr class="extra-margins" />
<hr class="extra-margins" />
<div class="container">
    <h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>

    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
    <p>Use this area to provide additional information.</p>
</div>