@{
    ViewData["Title"] = "Start";
}

<header class="landing-header">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Lubelska nawigacja rowerowa</h1>
            <h1><i class="fa fa-bicycle" aria-hidden="true"></i></h1>
            <hr>

            <a class="btn btn-primary btn-xl page-scroll" asp-controller="Navi" asp-action="Index">W drogę!</a>
        </div>
    </div>
</header>

@*<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Wszystko to, czego potrzebujesz</h2>
                <hr class="light">
                <p class="text-faded"></p>
                <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</section>*@

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Przy tworzeniu aplikacji najważniejsze są dla nas</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-rocket text-primary sr-icons"></i>
                    <h3>Szybkość</h3>
                    <p class="text-muted">Szybkość dostarczania informacji w każdym miejscu.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                    <h3>Obsługa</h3>
                    <p class="text-muted">Intuicyjna obsługa.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                    <h3>Aktualność</h3>
                    <p class="text-muted">Zawsze aktualne dane.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                    <h3>Przyjemność</h3>
                    <p class="text-muted">Przyjemność użytkowania aplikacji, która pomaga w codziennym życiu.</p>
                </div>
            </div>
        </div>
    </div>
</section>