@{
    ViewData["Title"] = "Nawigacja";
}

<style>
    body {
        padding-top: 50px;
    }
</style>

<aside>
    <div class="container bg-teal">
        <div class="row">
            <div class="col-lg-12 text-center">

                <h2 class="section-heading">Już wkrótce przeglądarkowa wersja aplikacji!</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
</aside>