@using System
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewData["Title"] - Material Design Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap-alpha/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
          >
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">*@

    <!-- Material Design Bootstrap -->
    <link href="~/lib/mdb/mdb.min.css" rel="stylesheet">

    <!-- Template styles -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css">

    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar bg-primary green">

        <!-- Collapse button-->
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
            <i class="fa fa-bars"></i>
        </button>

        <div class="container">

            <!--Collapse content-->
            <div class="collapse navbar-toggleable-xs" id="collapseEx">
                <!--Navbar Brand-->
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">LubCycle</a>
                <!--Links-->
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Start<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nawigacja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="About">O nas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Contact">Kontakt</a>
                    </li>
                </ul>
                <!--Search form-->
                <form class="form-inline">
                    <input class="form-control" type="text" placeholder="Szukaj">
                </form>
            </div>
            <!--/.Collapse content-->

        </div>

    </nav>
    <!--/.Navbar-->
    
    @RenderBody()
    
    <!--Footer-->
    <footer class="page-footer green center-on-small-only">

        <!--Footer Links-->
        <div class="container">
            <div class="row">

                <!--First column-->
                <div class="col-md-6">
                    <h5 class="title">Linki</h5>
                    <ul>
                        <li><a href="/swagger/ui">Swagger</a></li>
                        @*<li><a href="#!">Link 3</a></li>
                <li><a href="#!">Link 4</a></li>*@
                    </ul>
                </div>
                <!--/.First column-->
                <!--Second column-->
                <div class="col-md-6">
                    <h5 class="title">Znajdź nas!</h5>
                    @*<p>Here you can use rows and columns here to organize your footer content.</p>*@
                    <ul>
                        <!--Facebook-->
                        <button type="button" class="btn btn-fb"><i class="fa fa-facebook left"></i> </button>
                        <!--Twitter-->
                        <button type="button" class="btn btn-tw"><i class="fa fa-twitter left"></i> </button>
                        <!--Google +-->
                        <button type="button" class="btn btn-gplus"><i class="fa fa-google-plus left"></i></button>
                        @*<!--Linkedin-->
                        <button type="button" class="btn btn-li"><i class="fa fa-linkedin left"></i> Linkedin</button>
                        <!--Instagram-->
                        <button type="button" class="btn btn-ins"><i class="fa fa-instagram left"></i> Instagram</button>
                        <!--Pinterest-->
                        <button type="button" class="btn btn-pin"><i class="fa fa-pinterest left"></i> Pinterest</button>
                        <!--Youtube-->
                        <button type="button" class="btn btn-yt"><i class="fa fa-youtube left"></i> Youtube</button>
                        <!--Vkontakte-->
                        <button type="button" class="btn btn-vk"><i class="fa fa-vk left"></i> Vkontakte</button>*@
                        <!--Github-->
                        <button type="button" class="btn btn-git"><i class="fa fa-github left"></i> </button>
                        @*<!--Comments-->
                        <button type="button" class="btn btn-comm"><i class="fa fa-comments left"></i> Comments</button>*@
                        <!--Email-->
                        <button type="button" class="btn btn-email"><i class="fa fa-envelope left"></i> </button>
                    </ul>
                </div>
                <!--/.Second column-->
            </div>
        </div>
        <!--/.Footer Links-->
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © @DateTime.Now.Year Copyright: <a href="#"> www.lubcycle.pl </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"></script>
    @*<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>*@

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js"
        asp-fallback-src="~/lib/tether/dist/js/tether.min.js"></script>
    @*<script type="text/javascript" src="js/tether.min.js"></script>*@

    <!-- Bootstrap core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap-alpha/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    @*<script type="text/javascript" src="js/bootstrap.min.js"></script>*@

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/lib/mdb/mdb.min.js"></script>
    @*<script type="text/javascript" src="js/mdb.min.js"></script>*@
</body>
</html>
